
   .fit-to-div {
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    
    width: 1.5%;
    height: 1.5%;
    float: left;
    font-size: 70%;
  
}
  
  .row{
    color: red;
    background-color: blue;
    width: 100%;
    clear:both;
    
  }

  .open-cell {
    
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    
    width: 1.5%;
    height: 1.5%;
    float: left;
  }
  .closed-cell {
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    background-color: black;
    width: 1.5%;
    height: 1.5%;
    float: left;
  }
  .path-cell {
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    background-image: linear-gradient(#ffff00 16%, #9999ff 128%);
    width: 1.5%;
    height: 1.5%;
    float: left;
  }
  .current-cell {
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    background-image: linear-gradient( #ffff66 -25%, #3366ff 77%);
    width: 1.5%;
    height: 1.5%;
    float: left;
  }
  .heap-cell {
    padding: 5;
    border: 1px solid #ddd;
    text-align: center;
    background-image: linear-gradient( #66ff66 23%, #00ffcc 54%);
    width: 1.5%;
    height: 1.5%;
    float: left;
  }
  
 